* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,body {
width:100%;
height: 100%;
background: #f5f5f5;
}
#main{
width:100vw;
height: 100vh;
background-color: aquamarine;
padding: 20px 20px;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}

.column{
    background: white;
    padding: 16px;
    border-radius: 8px;
    min-height: 300px;
    border: 1px solid #ddd;
}

.column h2{
    margin-bottom: 12px;
    text-align: center;
}

.tasks{
    min-height: 200px;
}

/* Mobile Resposive */
@media (max-width:600px) {
    .board{
        grid-template-columns: 1fr;
    }
}